# App
NEXT_PUBLIC_SITE_URL="http://localhost:3000"

# Analytics - Umami (https://umami.is/)
NEXT_PUBLIC_UMAMI_WEBSITE_ID=""

# Database - Neon (https://neon.com/)
DATABASE_URL=""

# Movie API - TMDB (https://www.themoviedb.org/)
TMDB_API_KEY=""

# Authentication - Better Auth (https://better-auth.com/)
BETTER_AUTH_SECRET="" # openssl rand -base64 32
BETTER_AUTH_URL="http://localhost:3000"

# Discord OAuth - https://discord.com/developers/applications
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

# Google OAuth - https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Redis - Upstash (https://upstash.com/)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# S3 - Cloudflare R2 (https://developers.cloudflare.com/r2/)

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET_NAME=hivio
CLOUDFLARE_REGION=auto
NEXT_PUBLIC_CLOUDFLARE_DOMAIN=https://my-domain.com

# Email - Plunk (https://plunk.com/)
PLUNK_API_KEY="" # Secret API Key
PLUNK_EMAIL="help.domain.com"

# AI - OpenCode (https://openai.com/api/)
OPENCODE_API_KEY=""